.board-style {
  background-color: white;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 80vh;
  width: 80vw;
  align-items: center;
}

.title{
  font-size: 4em;
  margin : 30px;
  margin-top: 10px;
}

.row{
  display: flex;
  flex-direction: row;
}