.square-style {
  background-color: rgb(218, 16, 16);
  display : flex;
  justify-content: center;
  align-self: center;
  height: 15vh;
  width: 15vw;
  border: 2px solid black;
  margin: 10px;
}

.square-style:focus{
  background-color: white;
}